include color-example/color-example
include color-name/color-name
include color-hex/color-hex

mixin color()
    - var elem = attributes.elem?attributes.elem:{}
    - var mod = attributes.mod?' ' + attributes.mod:''

    - elem.example = elem.example?elem.example:{}
    - elem.name = elem.name?elem.name:{}
    - elem.hex = elem.hex?elem.hex:{}

    div(class=`color${mod}`)
        +color-example(mod=elem.example.mod)
            | #{elem.example.block}
        +color-name(mod=elem.name.mod)
            | #{elem.name.block}
        +color-hex(mod=elem.hex.mod)
            | #{elem.hex.block}
        block