include type-example/type-example
include type-tag/type-tag

mixin type()
    - var elem = attributes.elem?attributes.elem:{}
    - var mod = attributes.mod?' ' + attributes.mod:''

    - elem.tag = elem.tag?elem.tag:{}
    - elem.example = elem.example?elem.example:{}

    div(class=`type${mod}`)
        +type-tag(mod=elem.tag.mod)
            | #{mod=elem.tag.block}
        +type-example(mod=elem.example.mod)
            | #{mod=elem.example.block}
        block