include title-text/title-text

mixin title()
    - var mod = attributes.mod?' ' + attributes.mod:''
    - var text = attributes.text?attributes.text:{}
    - var subtext = attributes.subtext?attributes.subtext:{}
    - subtext.mod = 'title-text_subtext' + (subtext.mod?' ' + subtext.mod:'')

    span(class=`title${mod}`)
        +title-text(mod=text.mod, tag=text.tag, val=text.val)
        +title-text(mod=subtext.mod, tag=subtext.tag, val=subtext.val)