mixin form-checkbox()
    - var mod = attributes.mod?' ' + attributes.mod:''
    - var text = attributes.text?attributes.text:''
    - var input = attributes.input?attributes.input:{}
    - input.mod = 'input_checkbox' + (input.mod?' ' + input.mod:'')
    - input.attr = input.attr?input.attr:{}
    - input.attr.type = input.attr.type?input.attr.type:'checkbox'

    label(class=`form-checkbox${mod}`)
        +input(mod=input.mod, js=input.js attr=input.attr)          
        | #{text}