mixin form-checkbox()
    - var params = {}
    - params.mod = 'form-checkbox'
    - params.label = {mod: params.mod + '_label'}
    - params.title = {mod: params.mod + '_title'}
    - params.input = {mod: params.mod + '_input',attr:{type:'checkbox'}}
    - params.button = {mod: params.mod + '_button'}

    if attributes.params
        +mergeObj(params, attributes.params)    

    div(class=params.mod)
        +label(params=params.label)
            +input(params=params.input)
            +title(params=params.title)
                +button(params=params.button)