include form-dropdown-body/form-dropdown-body

mixin form-dropdown()
    - var params = {}
    - params.mod = 'form-input'
    - params.label = {mod:'form-dropdown_label'}
    - params.input = {mod:'form-dropdown_input'}
    - params.title = {mod:'form-dropdown_title'}
    - params.button = {mod:'form-dropdown_button'}
    - params.icon = {mod:'form-dropdown_icon'}

    if attributes.params
        +mergeObj(params, attributes.params)    

    div(class=params.mod) 
        +label(params=params.label)      
            +title(params=params.title)
            +input(params=params.input)    
            +button(params=params.button)
                +icon(params=params.icon)