mixin form-dropdown()
    - var params = {}
    - params.mod = 'form-dropdown'
    - params.label = {mod: params.mod + '_label'}
    - params.title = {mod: params.mod + '_title'}
    - params.input = {mod: params.mod + '_input'}
    - params.button = {mod: params.mod + '_button'}

    if attributes.params
        +mergeObj(params, attributes.params)    

    div(class=params.mod) 
        +label(params=params.label)      
            +title(params=params.title)
            +input(params=params.input)    
            +button(params=params.button)