mixin form-radio()
    - var params = {}
    - params.mod = 'form-radio'
    - params.label = {mod: params.mod + '_label'}
    - params.title = {mod: params.mod + '_title'}
    - params.input = {mod: params.mod + '_input',attr:{type:'radio'}}
    - params.button = {mod: params.mod + '_button'}

    if attributes.params
        +mergeObj(params, attributes.params)
    
    div(class=params.mod) 
        +label(params=params.label)
            +input(params=params.input)  
            +title(params=params.title)
                +button(params=params.button)