mixin form-radio()
    - var params = {}
    - params.container = {container:{mod:'form-radio'}}
    - params.label = {container:{mod:'form-radio_label'}}
    - params.input = {container:{mod:'form-radio_input',attr:{type:'radio'}}}
    - params.title = {container:{mod:'form-radio_title'}}
    - params.button = {container:{mod:'form-radio_button'}}
    - params.icon = {container:{mod:'form-radio_icon'}}

    if attributes.params
        +mergeObj(params, attributes.params)
    
    div(class=params.container.mod) 
        +label(params=params.label)
            +input(params=params.input)            
            +title(params=params.title)
                +button(params=params.button)  
                    +icon(params=params.icon)