mixin form-rate()
    - var params = {}
    - params.mod = 'form-rate'
    - params.label = {mod: params.mod + '_label'}
    - params.title = {mod: params.mod + '_title', onclick:'formRate_title_setStars(this)'}
    - params.input = {mod: params.mod + '_input',attr:{type:'radio'}}
    - params.button = {mod: params.mod + '_button'}

    if attributes.params
        +mergeObj(params, attributes.params)

    div(class=params.mod, onclick=params.onclick)
        - for (let i = 1; i <= 5; i++) {
            - params.input.attr.value = i
            - if (params.defaultRate == i) params.input.attr.checked = 'checked'
            - else params.input.attr.checked = false
            +label(params=params.label)
                +input(params=params.input)
                +title(params=params.title)
                    +button(params=params.button)
        - }