mixin form-input()
    - var params = {}
    - params.mod = 'form-input'
    - params.label = {mod:'form-input_label'}
    - params.input = {mod:'form-input_input'}
    - params.title = {mod:'form-input_title'}
    - params.button = {mod:'form-input_button'}
    - params.icon = {mod:'form-input_icon'}

    if attributes.params
        +mergeObj(params, attributes.params)

    div(class=params.mod) 
        +label(params=params.label)
            +title(params=params.title)
            +input(params=params.input)
            - if(!params.button.hidden)
                +button(params=params.button)
                    +icon(params=params.icon)