mixin form-input()
    - var mod = attributes.mod?' ' + attributes.mod:''
    - var title = attributes.title?attributes.title:false
    - var input = attributes.input?attributes.input:{} 
    - var button = attributes.button?attributes.button:false
    - button.mod = 'button_input' + (button.mod?' ' + button.mod:'')
    

    label(class=`form-input${mod}`)
        if title            
            +title(mod=title.mod, text=title.text, subtext=title.subtext)
        +input(mod=input.mod, js=input.js attr=input.attr)
        if button            
            +button(mod=button.mod, js=button.js, text=button.text)