mixin form-slider()
    - var params = {}
    - params.mod = 'form-slider'
    - params.defaultPoints = [0]
    - params.label = {mod: params.mod + '_label'}
    - params.title = {mod: params.mod + '_title'}
    - params.input = {mod: params.mod + '_input',attr:{type:'range'}}
    - params.container = {mod: params.mod + '_container'}
    - params.element = {mod: params.mod + '_element ' + params.mod + '_element_trace'}
    - params.button = {mod: params.mod + '_button'}

    if attributes.params
        +mergeObj(params, attributes.params)

    div(class=params.mod, onclick=params.onclick)
        +title(params=params.title)
        +label(params=params.label)
            - for (let i = 1; i <= params.defaultPoints.length; i++) {
                - params.input.attr.name = 'formSlider_' + i
                - params.input.attr.value = params.defaultPoints[i - 1]
                +input(params=params.input)
            - }
            +container(params=params.container)
                +element(params=params.element)
                - for (let i = 1; i <= params.defaultPoints.length; i++) {
                    - params.button.attr = params.button.attr?params.button.attr:{}
                    - params.button.attr.name = 'formSlider_' + i
                    +button(params=params.button)
                - }